 <div id="side-panel" class="side-panel">
            <a href="#" class="side-panel-close"><i class="ot-flaticon-close-1"></i></a>
            <div class="side-panel-block">
            <div class="side-panel-wrap">
      <div class="the-logo">
        <a href="index-html">
          <img src="images/logo-footer.svg" alt="Theratio" />
        </a>
      </div>
      {{!-- <div class="ot-heading">
        <h2 class="main-heading">Our Gallery</h2>
      </div>
      <div class="image-gallery">
        <div
          id="gallery-1"
          class="gallery galleryid-102 gallery-columns-3 gallery-size-thumbnail"
        >
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery1.jpg"
              >
                <img src="images/gallery-small-1.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery2.jpg"
              >
                <img src="images/gallery-small-2.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery3.jpg"
              >
                <img src="images/gallery-small-3.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery4.jpg"
              >
                <img src="images/gallery-small-4.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery5.jpg"
              >
                <img src="images/gallery-small-5.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery6.jpg"
              >
                <img src="images/gallery-small-6.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
        </div>
      </div> --}}
      <div class="ot-heading">
        <h2 class="main-heading">Contact Info</h2>
      </div>
      <div class="side-panel-cinfo">
        <ul class="panel-cinfo">
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-place"
              ></i></span>
            <span class="panel-list-text">Hill Place Road, Market Junction, Tripunithara-682301</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-mail"
              ></i></span>
            <span class="panel-list-text">nediyathsanitary3@gmail.com</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-phone-call"
              ></i></span>
            <span class="panel-list-text">0484 2776464</span>
          </li>
        </ul>
      </div>
      <div class="side-panel-social">
        <ul>
          <li><a href="http://twitter.com" target="_self"><i
                class="fab fa-twitter"
              ></i></a></li>
          <li><a href="http://facebook.com" target="_self"><i
                class="fab fa-facebook-f"
              ></i></a></li>
          <li><a href="http://linkedin.com" target="_self"><i
                class="fab fa-linkedin-in"
              ></i></a></li>
          <li><a href="http://instagram" target="_self"><i
                class="fab fa-instagram"
              ></i></a></li>
        </ul>
      </div>
    </div>
            </div>
        </div>

        <div id="content" class="site-content">
            <div class="page-header dtable text-center header-transparent pheader-about">
                <div class="dcell">
                    <div class="container">
                        <h1 class="page-title">About Us</h1>
                        <ul id="breadcrumbs" class="breadcrumbs none-style">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>

        <section class="about-company">
            <div class="container">
                <div class="row">
                    {{!-- <div class="col-lg-6 col-md-12 align-self-center text-center mb-5 mb-lg-0">
                        <div class="about-img">
                            <img src="images/image1-aboutus.png" alt="">
                        </div>
                    </div> --}}
                    <div class="col-lg-12 col-md-12 align-self-center" style="text-align: justify;">
                        <div class="about-detail">
                            <div class="ot-heading is-dots text-center">
                                
                                <h2 class="main-heading">NEDIYATH</h2>
                            </div>
                            <p>Nediyath Sanitary Wares is one of the leading businesses in Ernakulam, Kerala. We are known for our wide range of products and services that include CPVC pipe dealers, sanitaryware dealers, sink dealers, and much more. We have been in business and have established a strong reputation in the market. We always strive to provide our customers with the best possible products and services at the most competitive prices.We are a one-stop shop for all your sanitary ware needs, and our products are of the highest quality. We also offer a wide range of services, including installation, maintenance, and repair. Our products are widely appreciated by the clients for their features like durability, easy installation, low maintenance and corrosion resistance. We offer these products at industry leading prices. We strive to provide the best possible service to our customers and we are always here to help you with any questions or concerns you may have. We pride ourselves on being able to offer our customers the best possible prices on all of our products. We are always on hand to offer advice and help to our customers, so if you need any assistance then please do not hesitate to get in touch. We also provide installation services. Our products are available in different sizes and designs to meet your specific needs. Nediyath Sanitary Wares is your one-stop shop for all your sanitaryware needs.We offer a wide range of products and services, including CPVC pipe dealers, sink dealers, ball valve dealers, stainless steel sink dealers, pipe flange dealers, corner shelf dealers, pump dealers, and much more. We are committed to providing our customers with the best possible products and services at the most competitive prices.We have a wide range of products that are sourced from reputed brands such as Zoloto, Franke, Astral, Elvis, and C.R.I. We also have a team of experienced and knowledgeable staff who are always ready to assist you with your queries.</p>
                            <div class="ot-button">
                                <a href="/Products" class="octf-btn octf-btn-dark border-hover-dark">View Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
